body {
    -webkit-font-smoothing: antialiased;
}

p {
    font-size: 16px;
}

header p {
    font-family: 'SF Pro Display', sans-serif;
    letter-spacing: 1px;
    font-size: 12px;
}

header .border-bottom {
    border-color: #d7eaff !important;
}

strong {
    font-weight: bold;    
}

.btn-gray {
    color: #989ca2;
    background-color: rgba(152, 156, 162, 0.15);
    border-color: rgba(152, 156, 162, 0.15);

    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
}

.btn-gray:hover {
    color:#141619;
    background-color: rgba(152, 156, 162, 0.15);
    border-color: rgba(152, 156, 162, 0.15);
}

.nav-link {
    color: #141619
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0
}

#main-message p {
    font-size: 17px;
}

.bg-primary, .btn-primary {
    background-color: #3597ff !important;
    border-color: #297bd3;
}

.bg-primary-lighter {
    background-color: #f3f9ff;
}

.enjoy {
    font-size: 14px;
    padding: 12px 18px;;
}

.enjoy:hover {
    background-color: #3597ff;
    border-color: #3597ff;
}

#main-message .shape {
    width: 213px;
    right: 0;
    top: 200px;
    z-index: 0;
}

.main-visual-image {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 99;
}

.text-gray {
    color: #566b8d;
}

.text-primary {
    color: #3597ff !important;
}

#why-card p {
    font-size: 15px;
}

#why-card img {
    padding-bottom: 15px;
}

.count {
    font-size: 90px;
}

.type {
    font-size: 18px;
}

#vision .item:nth-child(1) {
    color: #5b94d7;
    background-color: rgba(221, 236, 251, 0.4);
}

#vision .item:nth-child(2) {
    color: #5cc19a;
    background-color: rgba(156, 238, 204, 0.4);
}
#vision .item:nth-child(3) {
    color: #dbca68;
    background-color: rgba(238, 226, 156, 0.4);
}

#vision .item:nth-child(4) {
    color: #b95e73;
    background-color: rgba(238, 156, 156, 0.4);
}

.item {
    width: 233px;
    height: 183px;
    border-radius: 4px;
}

#labs a {
    text-decoration: none;
    color: #566b8d;
}

#schools .shape {
    width: 213px;
    right: -290px;
    top: 450px;
    z-index: 0;
}

#want .heading {
    top: -48px;
    font-size: 62px;
    color: rgba(209, 220, 231, 0.3);
}

#join .shape {
    width: 300px;
    right: 0px;
    top: 335px;
    z-index: 0;
}

#student-projects hr:first-of-type {
    bottom: -25px;
    left: 0;
    width: 50px;
    height: 1px;
    background-color: rgba(86, 107, 141, 0.5);
}

.border-bottom {
    border-bottom: 1px solid #dee2e6;
}

#student-projects .shape {
    left: -510px;
    top: 230px;
    z-index: 0;
}

#know-us h6:last-of-type {
    font-size: 16px;
}

.card {
    width: 250px; /* Using this as an example, you can keep 20rem */
    overflow: hidden; /* Optional */
  }

.card-img-top {
    width: 100%;
}

.card-img-bottom {
    width: 13%;
    opacity: 100%;
  }

#labs .blue-arrow {
    position: relative;
    right: 25px;
    opacity: 0;
}

#labs .hide:hover .card-img-bottom, 
#join .hide:hover .card-img-bottom {
    opacity: 0%;
}

#labs .hide:hover .blue-arrow, 
#join .hide:hover .blue-arrow {
    opacity: 100%;
}

#join .blue-arrow {
    position: relative;
    right: 33px;
    opacity: 0;
    width: 13%;
}



