body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
}

header p {
    font-family: 'SF Pro Display', sans-serif;
    font-size: small;
    font-weight: bolder;
}

.btn-gray {
    color: #989ca2;
    background-color: rgba(152, 156, 162, 0.15);
    border-color: rgba(152, 156, 162, 0.15);

    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;

}


