body {
    -webkit-font-smoothing: antialiased;
}

p {
    color:#566b8d;
    font-size: 16px;
}

header p {
    font-family: 'SF Pro Display', sans-serif;
    letter-spacing: 1px;
    font-size: 12px;
}

strong {
    font-weight: bold;    
}

.position-relative {
    position: relative;
}

.btn-gray {
    color: #989ca2;
    background-color: rgba(152, 156, 162, 0.15);
    border-color: rgba(152, 156, 162, 0.15);

    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
}

.btn-gray:hover {
    color:#141619;
    background-color: rgba(152, 156, 162, 0.15);
    border-color: rgba(152, 156, 162, 0.15);
}

.nav-link {
    color: #141619
}

.main-message p {
    font-size: 17px;
}

.bg-primary, .btn-primary {
    background-color: #3597ff;
    border-color: #3597ff;
}

.enjoy {
    font-size: 14px;
    padding: 12px 18px;;
}

.enjoy:hover {
    background-color: #3597ff;
    border-color: #3597ff;
}

.main-visual-image {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 99;
}

.shape {
    position: relative;
    left: 305%;
    bottom: 200px;
    z-index: 0;
    overflow: hidden;
    vertical-align: middle;
}

.why-card p {
    font-size: 15px;
}

.why-card img {
    padding-bottom: 15px;
}

